button {
  background: #4A90E2;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
}

.button {
  border: 1px solid rgba(#565656, 0.7);
  box-shadow: 0 1px 14px 0 rgba(0,0,0,0.10);
  display: inline-block;
  margin: 8px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
  line-height: 32px;
  &:hover {
    background: #4A90E2;
  }
}
